/*
    Author: Obede Oliveira da Silva
   
*/
/* --- General --- */
body {
	font-family:'Montserrat',sans-serif;
	font-size:16px;
	line-height:1.7;
	color:#777;
	font-weight:400;
	overflow-x:hidden;
}
.playball {
	font-family:'Playball',cursive;
}
h1,h3,h4,h5,h6 {
	color:#333;
	line-height:1.4;
	font-weight:600;
}
h2 {
	color:#007EFF ;
	line-height:1.4;
	font-weight:600;
}

a,a:hover {
	/*color:#92DD03 ;*/
	text-decoration: none;
}
img {max-width: 100%;}
.obede {
	height:600px;
	padding-top:10%;
}
.isFixed {
	background:#333;
		-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition: all .5s;
}
.collapse {
	display: block !important;
}
@media (max-width: 655px) {
	.collapse {background: #333;}
	.navbar.navbar-inverse.navbar-static-top a {padding: 15px 16px;line-height: 15px;font-size: 13px;}
}
/* --- Intro --- */
header {
	padding-bottom:50px;
}
.intro {
	font-family:'Playball',cursive;
	font-size:50px;
	line-height:1.0;
	font-weight: 900;
}


/* --- Parallax --- */
.parallax {
	text-align:center;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed !important;
	overflow:hidden;
}

/* --- Heading --- */
.heading {
	padding-bottom:15px;
	text-align:center;
	max-width:960px;
	margin:0px auto;
	padding-top:80px;
}
.heading h2 {
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:35px;
	color:#333;
	margin:0;
	padding:5px;
}
.heading h2::first-letter {
	color:#007EFF ;
}
.heading h3 {
	font-size:16px;
	line-height:1.7;
}
img#site-title {
	border-radius: 50%;
}

/* --- Skills --- */

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}
.progress .color5,
.progress .color5 .bar-width{
  background: #00B1FF;
}
.progress .color6,
.progress .color6 .bar-width{
  background: #FF00EC;
}
.progress .color7,
.progress .color7 .bar-width{
  background: #039A46;
}
.progress .color8,
.progress .color8 .bar-width{
  background: #FFDC22;
}
.progress .color9,
.progress .color9 .bar-width{
  background: #DB3766;
}
.progress .color10,
.progress .color10 .bar-width{
  background: #0007AD;
}
.progress .color11,
.progress .color11 .bar-width{
  background: #00EEB8;
}
.progress .color12,
.progress .color12 .bar-width{
  background: #9C1E00;
}
.progress .color13,
.progress .color13 .bar-width{
  background: #00B4FF;
}
.progress .color14,
.progress .color14 .bar-width{
  background: #DB3766;
}
.progress .color15,
.progress .color15 .bar-width{
  background: #ffcc33;
}

.progress, 
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}
.progress .color5 span:before{
  border-color: #00B1FF transparent transparent transparent;
}
.progress .color6 span:before{
  border-color: #FF00EC transparent transparent transparent;
}
.progress .color7 span:before{
  border-color: #039A46 transparent transparent transparent;
}
.progress .color8 span:before{
  border-color: #FFDC22 transparent transparent transparent;
}
.progress .color9 span:before{
  border-color: #DB3766 transparent transparent transparent;
}
.progress .color10 span:before{
  border-color: #0007AD transparent transparent transparent;
}
.progress .color11 span:before{
  border-color: #00EEB8 transparent transparent transparent;
}
.progress .color12 span:before{
  border-color: #9C1E00 transparent transparent transparent;
}
.progress .color13 span:before{
  border-color: #00B4FF transparent transparent transparent;
}
.progress .color14 span:before{
  border-color: #DB3766 transparent transparent transparent;
}
.progress .color15 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}
.specialties img {
	margin-top:30px;
	margin-bottom:50px;
}

.skills {
	box-shadow:inset 0 0 0 16px #fff,inset 0 0 0 17px #eee,inset 0 0 0 18px #fff,inset 0 0 0 19px #eee,inset 0 0 0 20px #fff,inset 0 0 0 21px #eee,0 4px 20px rgba(0,0,0,0.1);
	-webkit-transform:translateZ(0px);
	transform:translateZ(0px);
	opacity:1;
	pointer-events:auto;
}
.skills h5 {
	margin:0;
	font-size:14px;
}
.skills .rm-thumb {
	width:100px;
	height:100px;
	background-repeat:no-repeat;
	background-position:center center;
	float:left;
	margin:0 20px 0 0;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.2),1px 1px 1px rgba(255,255,255,0.1);
	border-radius:50%;
}
.skills {
	font-size:12px;
	padding:40px 40px 20px 40px;
}
.restitem {
	margin-bottom:40px;
}
.restitem p {
	margin-bottom:0px;
}
.skills h3.main {
	margin:0 0 20px 0;
	font-size:19px;
	padding-bottom:10px;
	color:#92DD03 ;
	border-bottom: 4px double #eee;
}

/* General style */
.grid-gallery ul {
	list-style:none;
	margin:0;
	padding:0;
}
.grid-gallery figure {
	margin:0;
}
.grid-gallery figure img {
	display:block;
	width:100%;
}
.grid-gallery figcaption h3 {
	margin:0;
	padding:0 0px 0;
	color:#fff;
	font-size:17px;
	font-weight:300;
}
.grid-gallery figcaption p {
	margin:0;
	font-size: 12px;
}
/* Grid style */
.grid-wrap {
		margin:0 auto;
}
.grid {
	margin:0 auto;
}
.grid li {
	width:25%;
	float:left;
	cursor:pointer;
}
.grid figure {
	padding:15px;
	-webkit-transition:opacity 0.2s;
	transition:opacity 0.2s;
}
.grid li:hover figure {
	opacity:0.7;
}
.grid figcaption {
	background:#333;
	padding: 25px;
}
.info-keys:before {
	left:10px;
	content:"\e603";
}
.info-keys:after {
	right:10px;
	content: "\e604";
}
/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width:60em) {
	/* responsive columns;see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
			width:33.3%;
	}
	.info-keys {
			display:none;
	}
}
@media screen and (max-width:35em) {
	.grid li {
			width:50%;
	}
}
@media screen and (max-width:24em) {
	.grid li {
			width: 100%;
	}
}

/* --- Footer --- */
.footer {
	background:#007EFF ;
	margin-top:120px;
	position:relative;
	margin-right:-15px;
}
.footer .container {
	padding:60px 0 20px;
}
.footer ul {
	margin:0 auto;
	margin-bottom:30px;
	margin-top:10px;
	text-align:center;
	list-style-type:none;
	padding-left:0;
}
.footer ul li {
	display:inline-block;
	text-align:center;
	background:rgba(0,0,0,0.2);
	color:#ffffff;
	line-height:45px;
	margin:0 4px 0px;
	width:45px !important;
	height:45px !important;
		-webkit-border-radius:3px;
	border-radius:3px;
}
.footer ul li:hover {
	background:#2a2a2a;
}
.footer ul li:hover	a {
	color:#fff;
}
.footer ul li a {
	color:#fff;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i {
	line-height:45px;
	color:#fff;
}
.footer p {
	color:#fff;
	font-size:13px;
	line-height:24px;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
}
.gototop {
	display:inline-block;
	width:60px;
	height:60px;
	background:#fff;
	position:absolute;
	margin-left:-30px;
	top:-35px;
	border-radius:50%;
}
.gototop i {
	color:#007EFF ;
	line-height:70px;
}
.footer a,.footer a:hover {
	color:#fff;
}
blockquote {
	font-style:italic;
	margin:0 0 0px 0;
	padding:20px 70px 10px;
	position:relative;
	font-size:13px;
	border:0;
}
blockquote:before {
	display:block;
	content:"\201C";
	font-size:120px;
	position:absolute;
	left:10px;
	top:-30px;
	color:#92DD03 ;
	font-family:Georgia;
}
blockquote cite {
	color:#92DD03 ;
	font-size:14px;
	display:block;
	margin-top:5px;
	text-align:right;
}
blockquote cite:before {
	content: "\2014 \2009";
}